# DJANGO config
DJANGO_DOMAIN=subdomain.domain.tld
PORT=80
EMAIL=email@domain.tld
DJANGO_SECRET='example'

# POSTGRES config
POSTGRES_USER=user
POSTGRES_PASS=pass
POSTGRES_DB=database

# PGADMIN config
PGADMIN_DOMAIN=subdomain.domain.tld
PGADMIN_USER=email@domain.tld
PGADMIN_PASSWORD=password
PGADMIN_PORT=81

# FLOWER config
FLOWER_DOMAIN=subdomain.domain.tld
FLOWER_PORT=82
FLOWER_USER=user
FLOWER_PASSWORD=pass

# Cronjob config
cronjob_secret='example'