<!-- mapping/templates/index.html -->
{% extends 'bootstrap_base.html' %}


{% block content %}
<script>
  location.replace("https://termservice.test-nictiz.nl/node/")
</script>

  <div class="row card">
    <div class="card-header">
      <h5 class="card-title">Projecten</h5><br>
      <h6>Projecten met een groene achtergrond hebben voor jou geen open taken. Wanneer er een gele achtergrond staat, zijn er open taken op jouw naam aanwezig.</h6>
    </div>
    <div class="card-body">
      <table class="table table-light table-hover table-striped table-sm" width="400">
        <thead>
          <tr>
            <th>Project</th>
            <th>Aantal open taken</th>
            <th>Aantal open taken voor gebruiker</th>
          </tr>
        </thead>
        <tbody>
        {% for value in project_list %}
          {% comment %} <a href="{% url "mapping:index" %}project/{{value.id}}" class="btn btn-info" style="width:600px">{{value.id}} - {{value.title}}</a><br><br> {% endcomment %}
          
          
          {% if value.num_open_tasks_user > 0 %}
          <tr class="table-warning">{% else %}
          <tr class="table-success">{% endif %}
            <td><a href="{% url "mapping:index" %}project/{{value.id}}" class="btn btn-info">{{value.title}}</a></td>
            <td>{{value.num_open_tasks}} / {{value.num_tasks}}</td>
            <td>{{value.num_open_tasks_user}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}