<!-- mapping/templates/index.html -->
{% extends 'bootstrap_base.html' %}


{% block content %}
<div class="row card">
  <div class="card-header">Update NHG tabellen uit Excel</div>
  <div class="card-body">
    <form action="{% url "mapping:update_nhg" %}" method="POST">
      {% csrf_token %}
      Codesystem ID {{ form.codesystem }}
      <input type="submit" value="Laden" class="form-control">
    </form>
  </div>
</div>

<div class="row card">
  <div class="card-header">Excel bestand wordt ingeladen in codesysteem {{form.codesystem.value}}</div>
  <div class="card-body">
    <ul class="list-group">
    {% for value in result.values %}
    <li class="list-group-item list-group-item-success">
      <p style="float:left">[Codesystem {{value.codesystem_id}}] </p>
      <p style="float:right">{{value.component_title}}</p>
      <p style="float:left">{{value.result}}</p>
      <div style="clear: both"></div>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>


{% endblock content %}